body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
}

header {
  background-color: #13525e;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info,
.about-company,
.social-media {
  flex: 1;
  margin: 10px;
}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
}

header {
  background-color: #13525e;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1, h2 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info,
.about-company,
.social-media {
  flex: 1;
  margin: 10px;
}